# Xcode
xcuserdata/
*.xcuserstate
*.xcuserdatad/
DerivedData/
build/
xcshareddata/WorkspaceSettings.xcsettings

# SwiftPM
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store

# Generated
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# IDEs
.vscode/
.idea/

# Logs
*.log
